body {
  background-color: rgba(102, 153, 231, 0.95);
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#province {
  font-size: 17px;
  position: fixed;
  right: 100px;
  top: 100px;
  border: 4px solid #fff;
  width: 250px;
  height: 30px;
  color: rgb(22, 65, 136);
  font-family: 'Droid Sans', sans-serif;
  padding-top: 10px;
  font-weight: 900;
}

.red {
  background-color: red;
}

#rsr {
  margin-top: 50px;
}